<%# Add the Facebook login link here %>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Github UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Github!', '/auth/github') %>
<% end %>

https://github.com/login/oauth/authorize?client_id=55847&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fgithub%2Fcallback&response_type=code&state=5d4d39a81ebbf5d3005cce778f8087f05d9e4fde1471d5ad